

.main-flexbox{
    display: flex;
    flex-direction: row;
}

    .sidebar-section{
    
        width: 25vw;
        height: 100vh;
        background-color: brown;
        background-image:url("bg.jpg");
        background-position: -900px;
    }



    .sidebar-bg{
        width: 25vw; 
        height:100vh; 
        object-fit: cover;
    }

        .sidebar-header-div{
            width: 25vw;
            height: 10vh;
            background-color: blueviolet;
            margin-top: 25vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .sidebar-header{
                font-size: 2rem;
                text-align: center;
                height: auto;
            }
    .main-section{
        background-color: aqua;
        display: flex;
        flex-direction: column;
    }

        .form-header-section{
            background-color: blue;
        }

        .form-fillout-section{
            background-color: rebeccapurple;
        }

        .form-submission-section{
            background-color: red;
        }